<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thstdio.sportv1">

    <application tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/all"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        >

        <!-- - Стартовая активность -->
        <activity
            android:name=".display.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- -  активности Мои тренеровки -->
        <activity
            android:name=".display.my_trener_activiti.EProgListActivity"
            android:label="@string/title_e_prog_list_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            >
        </activity>
        <activity
            android:name=".display.my_trener_activiti.EdayPage"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".display.my_trener_activiti.EProgListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".display.my_trener_activiti.EexesAddActivity"
            android:label="@string/title_e_exes_add_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".display.my_trener_activiti.EdayPage"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".display.my_trener_activiti.EProgAdd"
            android:label="@string/my_prog_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".display.my_trener_activiti.EProgListActivity"
            android:screenOrientation="portrait"></activity>


       <!-- -  активности настройки -->
    <activity
        android:name=".display.settings_activiti.SettingListExes"
        android:label="@string/app_name_seting"
        android:screenOrientation="portrait">
    </activity>
        <!-- -  активности Start -->
        <activity
            android:name=".display.start_activity.StartAvtivty"
            android:label="@string/my_prog_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".display.my_trener_activiti.EProgListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <!-- -  Вывод статистики  Start -->
        <activity
            android:name=".display.start_activity.DayStatistic"
            android:label="@string/my_prog_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".display.statistic_activity.StatisticListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".display.statistic_activity.StatisticListActivity"
            android:label="@string/my_prog_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".display.measure.Measure"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".display.test.Generator"
            android:label="@string/title_activity_test">
           </activity>
    </application>
</manifest>