<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thstdio.sportv1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- - Стартовая активность -->
        <activity
            android:name=".display.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- -  активности Мои тренеровки -->
        <activity
            android:name=".display.my_trener_activiti.EProgListActivity"
            android:label="@string/my_prog_activity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".display.my_trener_activiti.EdayPage"
            android:label="@string/my_prog_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".display.test.testActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>

       <!-- -  активности настройки -->
    <activity
        android:name=".display.settings_activiti.SettingListExes"
        android:label="@string/app_name_seting"

        >
    </activity>
    </application>
</manifest>